body {
	--teams-color: #6264A7;
	margin: 0;
	padding: 0;
	min-height: 100%;
	min-width: 100%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, 'sans-serif';
	margin: 10px;
	overflow: hidden;
}

h1 {
	color: var(--teams-color);
	text-align: center;
}